body {
  background-color: #F6FCFF;
  background-image: url("../images/main_bg.png");
  background-position: top center;
  background-repeat: no-repeat;
}
.main-logo {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 40px; */
}
.info {
  text-align: center;
  color: #808080;
  margin-top: 100px;
}