body {
  /* background-color: #a8ffe3; */
  /* background-image: url("../images/result_bg.jpg"); */
  background-position: top center;
  background-repeat: no-repeat;
  /* min-width: 640px; */
}
.bg {
  padding-bottom: 100px;
  padding-top: 50px;
}
.snack {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.result {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.result .box {
  min-height: 70px;
  background-color: #FFFFFF;
  border: 6px solid #E591CA;
  border-radius: 20px;
  margin-bottom: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.result h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.result .good-or-bad {
  height: 150px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
}
.result .good {
  flex: 1;
  background-color: #eaf8ff00;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 6px solid #c8ec74; */
  box-shadow: 0 10px 0 #7b7b7b4f;
  border-radius: 20px;
}
.result .bad {
  flex: 1;
  background-color: #eaf8ff00;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 6px solid #3a75b8; */
  box-shadow: 0 10px 0 #7b7b7b4f;
  border-radius: 20px;
}
.result .lecture img {
  margin-bottom: 40px;
  width: 100%;
}